* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.position{
  position: relative;
}

.social{
  position:absolute;
  top: 22px;
  right: 22px;
}

.fa-brands{
  font-size: 32px;
}